@import url("https://fonts.googleapis.com/css?family=Roboto:900&display=swap");

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.remove-underlining {
  text-decoration: none;
}
