@import url("https://fonts.googleapis.com/css?family=Roboto:900&display=swap");

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.remove-underlining {
  text-decoration: none;
}

.home {
  background-color: white;
  padding: 1%;
  margin: 3%;
}

.article-list {
  margin: 1%;
}

.all-articles {
  background-color: white;
  margin: 1%;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #6497bf;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.home-article-boxes {
  display: grid;
  grid-template-columns: 30% 70%;
  text-align: left;
  width: 550px;
  padding: 25px;
  background-color: #ebf3f9;
  margin: 10px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.nav-buttons {
  background-color: transparent;
  border: none;
  height: 50px;
  width: 40;
  text-align: center;
  display: inline-block;
  font-family: "Fjalla One", sans-serif;
  font-size: 14px;
}

.grid-container {
  display: grid;
  grid-template-columns: 30% 40% 30%;
}
.grid-container:nth-child(even) {
  background: #f0f8ff;
}

.select-dropdown {
  background-color: white;
}

.c1 {
  min-height: 60px;
}
.c2 {
  min-height: 60px;
}
.c3 {
  min-height: 60px;
}

.secondary-title {
  padding: 5%;
}

.article-body {
  padding: 5%;
  background-color: aliceblue;
  margin-right: 5%;
  margin-left: 5%;
  text-align: left;
  border: solid;
  border-color: #d0d0d0;
  border-width: 1px;
}

.comments {
  padding-right: 15%;
  padding-left: 15%;
}

.authors-card {
  background: lightblue;
  margin: 20px;
  padding: 10px;
}

.topicCard {
  background-color: aliceblue;
  margin: 5px;
}

.error {
  color: red;
  font-size: 40px;
  font-weight: bold;
  padding: 50px;
}
